*,
*::before,
*::after{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    color: white;
 font-family: "Quicksand", sans-serif;
background: radial-gradient(circle, hsl(0, 100%, 50%), hsl(7, 80%, 24%));
display: flex;
flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}
#section1{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    max-width: 700px;
}
.score-card{
    border:2px solid white;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    width: 30%;
    min-width: 153px;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.678), hsl(0, 0%, 100%), hsla(0, 0%,100%,0.678));
    color: rgb(177, 14, 14);
}
.score{
    font-size: 3rem;
    font-weight: 700;
}
.score-divider{
    width: 5px;
    height: 100%;
    background-color: rgb(132, 14, 14);
    margin:0;
    padding: 0;
}
.score-label{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(114, 2, 2);
    text-align: center;
}
br{
    line-height: 0.2rem;
}
#section1 h2{
line-height:1.4em;
}
.triangle-container{
    position: relative;
    height: 100%;
}
.triangle{
    background-color: black;
    width: 300px;
    height: 10px;
    margin: 10px;
}
#section2{
    height: 40%;
    margin-top: 2rem;
}
#triangle1{
    position: relative;
    opacity: 40%;
}
#triangle2{
    transform: rotate(56deg);
    position: absolute;
    left: -2px;
    top:-5px;
    transform-origin: top left;
    width: 270px;
}

#triangle3{
    transform: rotate(-57deg);
    position: absolute;
    right: -2px;
    top:-5px;
    transform-origin: top right;
    width: 270px;
}
#section3{
    display: flex;
    justify-content: space-between;
    width: 50%;
    justify-self: flex-end;
    position: fixed;
    bottom: 2rem;
}
#section3 button{
    background: linear-gradient(to right, hsl(0, 0%, 100%, 0.678), hsl(0, 0%, 100%), hsla(0, 0%,100%,0.678));
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    margin: 1.5rem;
}
#section3 button:hover{
    background: linear-gradient(to right, hsla(0, 51%, 64%, 0.678), hsl(0, 0%, 100%), hsla(0, 51%,64%,0.678));
    transition: all 0.3s ease;
    transform: scale(1.05);
}

#hideRulesBtn{
cursor: pointer
}
.hand{
    padding: 12px;
    background-color: white;
    z-index: 4;
    border-radius: 50%;
    position: absolute;
    border: 1rem solid;
    height: 115px;
    width: 115px;
    max-width: 115px;
    max-height: 115px;
    cursor: pointer;
}
.hand.result-hand{
    position: static;
    height: auto;
    object-fit: contain;
}
.hand:hover{
    border: .8rem solid;
}

 #rock{
top: -1.25rem;
left:-1rem;
border-color: rgb(95, 3, 3);
}
 #paper{
right:-.5rem;
top: -1.25rem;
border-color: rgb(76, 0, 255);
}
 #scissors{
bottom: -3rem;
left: 37%;
border-color: green;
}
.results-container{
    display: flex;
    gap: 2rem;
   align-items: center;
}

.results-display p{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;

}
.result{
    font-size: 3rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.416);
    min-width: 300px;


}
.results-container.tie-container{
flex-direction: column;
}
.user-result, .computer-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#play-again{
    background-color: white;
    color: black;
    padding: 6px;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    transition: ease .2s;
}
#play-again:hover{
transform: scale(1.05);
color: rgb(30, 30, 166);
}
/* rules modal styling */
.rules-modal{
    display: none;
    position: fixed;
    top: 20%;
    left: 35;
    width: 20rem;
    height:25rem;
    background: white;
    z-index: 100;
    padding: 5px;
    border-radius: 5px;
}
.rules-image > *{
    filter: grayscale(1);
}
.rules-image{
    position: relative;
    height: 100%;
}
 i{
font-size: 5rem;
color: grey;
}
#modal-rock{
right:4rem;
top: 1rem;

}
#modal-paper{
left: 4rem;
top: 1rem;
}
#modal-scissors{
    bottom:11rem;
    left: 8rem;

}
.appendage{
    border: 6px solid grey;
    width: 45px;
    height: 45px;
    object-fit: contain;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    z-index: 200;
    background-color: rgba(128, 128, 128, 0.348);
}
#arrow1{
position: absolute;
left:7.5rem;
top:0;
}
#arrow2{
position:absolute;
right: 5rem;
top:4.5rem;
transform: rotate(120deg);
}
#arrow3{
position:absolute;
left: 5rem;
top: 4.5rem;
transform: rotate(60deg);
}

.rules-text{
    color: grey;
    font-size: 1.4rem;
    font-weight: 800;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom:2rem;
}
.beats{
    color:grey;
    font-weight: 700;
    font-size: .9rem;
    position: absolute;
}
.beats1{
left: 8rem;
top: -1rem;
}
.beats2{
top:6rem;
left: 2rem;
}
.beats3{
top:6rem;
right:2rem;
}
#hideRulesBtn{
    width: 1.2rem;
    height: 1.2em;
}
.score-card > *{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

/* responsive design */
@media (max-width: 450px){
    #section1{
        width: 90%;
    }
}